*.aes
*.env
*.log

.git
.dockerignore
.editorconfig
.gitignore

coverage
deployment
log
node_modules

bower.json
codeship-*.yml
docker-compose*.yml
Dockerfile*
gulpfile.js
mochahelper.js
options.mine.js
README.md
